.container{
    margin-left: 3%;
}
.tieude{
    display: flex;
    justify-content: center;
}
/*bang*/
table{
    margin-top: 1%;
    border: 2px black solid;
    border-collapse: collapse;
    padding: 10px;
    width: 95%;
    background-color: #fff;
}
.table__row{
    border: 2px black solid;
}
.imgsp{
    width: 50px;
    height: 50px;
    margin-left: -30px;
}
th{
    border: 2px black solid;
}
td{
    border: 2px black solid;
    padding: 0 5%;
}
.tb{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.tb_login{
    margin-left: 10px;
    text-decoration: none;
}
.table__row--stt{
    width: 50px;
}
.stt{
    margin-left: -35px;
    width: 10px;
}
.table__row--tensp{
    width: 500px;
}
.table__row--hinhanh{
    width: 120px;
}
.table__row--gia{
    width: 150px;
}
.table__row--soluong{
    width: 100px;
}
.table__row--thanhtien{
    width: 160px;
}
.ttgd{
    text-decoration: none;
    margin-top: 10%;
    margin-left: 45%;
}